$include /etc/inputrc

set editing-mode vi

# changes the cursor to | on vi-insert
set show-mode-in-prompt on
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

# keybinds
$if mode=vi
	set keymap vi-command
	# these are for vi-command mode
	Control-e: 	end-of-line
	"\e[A":     history-search-backward
	"\e[B":     history-search-forward
	j:          history-search-forward
	k:          history-search-backward
	Control-l:  clear-screen
	Control-a:  beginning-of-line
	"\e\C-d":   "\C-asudo \C-e"


	set keymap vi-insert
	# these are for vi-insert mode
	Control-e: 	end-of-line
	"\e[A":     history-search-backward
	"\e[B":     history-search-forward
	Control-l:  clear-screen
	Control-a:  beginning-of-line
	"\e\C-d":   "\C-asudo \C-e"
$endif

# if tab can only partially complete a word it shows all 
# possible completions immidiatly
set show-all-if-ambiguous on

# Color files by types
set colored-stats On
# Append char to indicate type
#set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
# don't echo '^C' when pressing control-c
set echo-control-characters off
