
!*.color1: #dd352d
!*.color2: #98b71a
!*.color3: #d7b951
!*.color4: #6192be
!*.color5: #b16286
!*.color6: #689d6a
!*.color7: #a89984
!*.color8: #928374
!*.color9: #fc3430
!*.color10: #d8bbf6
!*.color11: #faddff
!*.color12: #81a2be
!*.color13: #d3869b
!*.color14: #8ec07c
!*.color15: #ebebd2


! special
*.foreground:   #f0f2f0
*.background:   #1d1f21
*.cursorColor:  #f0f2f0
! black
*.color0:       #181818
*.color8:       #35373b
! red
*.color1:       #ff3a3a
*.color9:       #f05757
! green
*.color2:       #dbff5a
*.color10:      #ebfc88
! yellow
*.color3:       #f0c735
*.color11:      #e5c674
! blue
*.color4:       #4c99fd
*.color12:      #5bb3ff
! magenta
*.color5:       #bc4ee1
*.color13:      #cc7ce6
! cyan
*.color6:       #2af8de
*.color14:      #8dd9ce
! white
*.color7:       #e1ede8
*.color15:      #f5f8f6


!! Transparency (0-255):
!!*.alpha: 169
!! Set a default font and font size as below:

!!Xft.autohint: 1
!!Xft.antialias: 1
!!Xft.hinting: true
!!Xft.hintstyle: hintslight
!!Xft.rgba: rgb
!!Xft.lcdfilter: lcddefault

*.font: Monospace-15;
